@use 'base/variables' as v;
@use 'base/mixins' as m;

.navigation {

      display: flex;
      flex-direction: column;
      gap: calc( v.$general-gap / 2 );
      width: 100%;
      align-items: center;

      @include m.desktop {
            width: auto;
            flex-direction: row;
      }

      &__link {
            font-size: 1.8rem;
            font-weight: 700;
            color: v.$black;

            &--register {
                  @include m.boton( v.$color-primary, v.$white );
            }

      }
}