@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
      background-color: v.$color-secondary;
      padding: v.$general-gap 0;

      &__grid {
            @include m.tablet {
                  @include m.grid( 3, 2rem);
            }
      }

      &__widget {
            margin-bottom: v.$general-gap;

            &:last-of-type {
                  margin-bottom: 0;
            }

            &:nth-child(3) {
                  a {
                        font-weight: bold;
                        color: v.$color-primary;
                  }
            }
      }

      &__heading {
            color: v.$white;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 2rem;

            @include m.tablet {
                  text-align: left;
            }
      }

      &__nav {
            display: flex;
            flex-direction: column;
      }

      &__list {
            text-align: center;

            @include m.tablet {
                  text-align: left;
            }
      }

      &__text,
      &__link {
            text-align: center;
            font-size: 1.6rem;
            color: v.$white;

            @include m.tablet {
                  text-align: left;
            }
      }

      &__copyright {
            background-color: v.$color-primary;
            color: v.$white;
            width: 100%;
            text-align: center;
            padding: 1rem 1rem 2rem 1rem;
      }
}